* {
    box-sizing: border-box;
}
body {
    padding: 40px;

    align-items: center;
    margin-left: 300px;
    margin-top: 200px;
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(136, 222, 233);
    color: #e44013;
}